#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

#
# Copyright 2020 Joyent, Inc.
#

#
# This file is delivered as part of the Triton Platform Image.
#

[Unit]
Description=Triton config-agent used to fetch configuration details from Triton SAPI
Documentation=https://github.com/joyent/linux-live/tree/linuxcn
After=network.target

[Service]
EnvironmentFile=/usr/triton/config/systemd.env
Type=simple
# Note that TRITON_AGENT_NODE_DIR is set in the EnvironmentFile.
ExecStart=${TRITON_AGENT_NODE_DIR}/config-agent/bin/agent.sh

[Install]
WantedBy=multi-user.target
